@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins&display=swap');

.logo {
    font-family: 'Bebas Neue', sans-serif;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.card_preco {
    background-color: #dc2c2d;
    color: #fffafa;
    border-radius: 20px;
    border: #000000 solid 1px;

}

.vermelholegal {
    color: #ee282a;
}

.star {
    color: #FFC107;
}

.p_card {
    font-size: 10px;
}

.branco_button_card {
    font-size: 12px;
    background-color: black;
    border-radius: 7px;
    padding: 5px 20px;
    color: #fffafa;
    border: rgb(255, 255, 255) solid 2px;
}

.branco_button_card:hover {
    font-size: 12px;
    background-color: black;
    border-radius: 7px;
    padding: 5px 20px;
    color: #fffafa;
    border: rgb(255, 255, 255) solid 2px;
    animation: branco_button_card 0.2s forwards ease-in-out;
}

@keyframes branco_button_card {
    0% {
        background-color: #000000;
    }

    100% {
        background-color: #ee282a;
    }
}


.button_card {
    font-size: 12px;
    background-color: transparent;
    border-radius: 7px;
    padding: 5px 20px;
    border: rgb(0, 0, 0) solid 2px;
}

.button_card:hover {
    font-size: 12px;
    background-color: transparent;
    border-radius: 7px;
    padding: 5px 20px;
    border: rgb(0, 0, 0) solid 2px;
    animation: button_card 0.2s forwards ease-in-out;
}

@keyframes button_card {
    0% {
        color: #000;
        background-color: transparent;
    }

    100% {
        color: #fffafa;
        background-color: #ee282a;
    }
}

.banner_texto {
    font-family: 'Oswald', sans-serif;
}

.t {
    background: linear-gradient(to bottom, #000000, #FFFFFF);
}

.botao_banner {
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px rgb(255, 255, 255) solid;
}

.botao_banner:hover {
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px rgb(255, 255, 255) solid;
    animation: button_card 0.2s forwards ease-in-out;
}